.plan-bronze {
    color: #cd7f32;
    text-shadow: 1px 1px 2px lighten(#cd7f32, 15%);
}

.plan-silver {
    color: #c0c0c0;
    text-shadow: 1px 1px 2px lighten(#c0c0c0, 15%);
}

.plan-gold {
    color: #FFD700; 
    text-shadow: 1px 1px 2px lighten(#FFD700, 15%);
}

.plan-diamond {
    color: #b9f2ff; 
    text-shadow: 1px 1px 2px lighten(#b9f2ff, 5%);
}