body {
  font-family: $font-family-sans-serif;
}

/* Sticky footer position and size
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 300px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 300px;
}

/* Taller footer on small screens */
@media (max-width: 34em) {
  body {
    margin-bottom: 500px;
  }
  .footer {
    height: 500px;
  }
}

/* Sticky footer style and color
-------------------------------------------------- */
footer {
  padding-top: 30px;
  background-color: #292c2f;
  color: #bbb;
}

footer a {
  color: #999;
  text-decoration:none;
}

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
}

footer .form-control {
  background-color: #1f2022;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;
  color: #d1d2d2;
  padding: 0.7em 1em;
}

.social-facebook {
  color: #3b5998;

  &:hover, &:focus {
    text-decoration: none;
    color: darken(#3b5998, 10%);
  }
}

.social-twitter {
  color: #1da1f2;

  &:hover, &:focus {
    text-decoration: none;
    color: darken(#1da1f2, 10%);
  }
}

.social-github {
  color: #fafafa;

  &:hover, &:focus {
    text-decoration: none;
    color: darken(#fafafa, 10%);
  }
}

.social-contact-footer {
  color: #fafafa;

  &:hover, &:focus {
    text-decoration: none;
    color: darken(#fafafa, 10%);
  }
}

.social-flickr {
  color: #ff0084;

  &:hover, &:focus {
    text-decoration: none;
    color: darken(#ff0084, 10%);
  }
}