// Shared vendor packages.
@import "~font-awesome/scss/font-awesome";

// Hand written scss code
.content {
  background-color: #f5f8fa;
}

.card {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  border-radius: 4px;
}

.breadcrumb {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}